# Ignore visual studio solution user option(suo) file
*.suo

# Ignore executable and pdb files
*.exe
*.pdb

# Ignore all output / object files
DataChest/bin
DataChest/obj

# Ignore GUI directory; temporary ignored
# Ignore solution file; temporary
*.sln
DataChest-GUI